* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background: #fff;
  max-width: 100%;
  width: 375px;
}

.nav-container {
  align-items: center;
  color: #28353f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1.5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu {
  height: 24px;
  width: 24px;
}

.hero {
  background-image: url(/images/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 726px;
}

.intro {
  color: #172b4d;
  margin: 0 2rem;
  padding-top: 3.5rem;
  text-align: center;
}

h1,
h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.intro :last-child {
  color: rgb(0, 170, 117);
}

.text {
  color: #172b4d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 164px;
  line-height: 28px;
  margin: 24px;
  text-align: center;
  width: 327px;
}

.social {
  margin: 70px 80px 50px 80px;
}

.social-list {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.scroll {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  body {
    width: 414px;
  }
}
